.top-nav{
    padding: 10px;
    font-size: 20px;
    color: red;
}



.bottom-nav{
    display:flex;
    justify-content: space-between;
    background-color: rgba(196, 23, 23, 0.9);
    color: white;
}
.bottom-nav h4{
    font-weight: 500;
}


.catagory{
    width: 30%;
    padding: 10px 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
  width: 30%;
  border: 1px solid black;
    align-items: center;
    display: flex;
    padding: 20px;
    justify-content:flex-end;
}

.icons div{
    border: 1px solid white;

}