.container{
    width:95%;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}


.mainbody{
    display: flex;
    flex-direction: column;
    width:30%;
    
}
.UserAddress{
    width: 70%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    
}
.UserAddress>:nth-child(1){
    font-size:30px;
    font-weight:700
}
.UserAddress>:nth-child(2){
    font-size:15px;
    display:flex;
    flex-direction:column;
    gap:10px
}
.UserAddress button{
    width:20%;
    background-color:black;
    color:white;
    padding:10px
}
.mainbody h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
}
.mainbody .box{
    width: 100%;
    
}
.box div{
    width: 80%;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 10px;
    font-weight: 600;
}
.box div:hover{
    background-color: rgb(210, 209, 209);
    font-weight: 700;
}
.Details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}
.Details h1{
    font-size: 25px;
    font-weight: 700;
}
.Details h4{
    font-weight: 600;
}
.profile{
    display: flex;
    flex-direction: row;
   gap: 0px;
}
.profile button{
    padding: 8px;
    border: 1px solid black;
    color: black;
    margin-top: 10px;
}
.profile button:hover{
    background-color: black;
    color: white;
}
.profile>:nth-child(1){
    width: 50px;
    height: 50px;
    margin: 30px;
}
.address{
    display: flex;
    flex-direction: row;
    justify-content:left;

}
.address button{
    padding: 8px;
    border: 1px solid black;
    color: black;
    margin-top: 10px;   
}
.address button:hover{
    background-color: black;
    color: white;
}
.address>:nth-child(1){
    width: 50px;
    height: 50px;
    margin: 30px;
}
@media screen and (min-width:700px) and (max-width:999px){
    .container{
        width:90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: first baseline;
        margin-top: 30px;
        margin-bottom: 150px;
    }
    .mainbody{
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: first baseline;;
        margin-bottom:20px ;
    }
    .Details{
        width: 100%;
    }
    .mainbody .box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .box div{
        width: 100%;
       
        border: .5px solid rgb(167, 165, 165);
        padding: 10px;
        font-weight: 600;
    }
    .mainbody h1{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .box div:hover{
        background-color: rgb(210, 209, 209);
        font-weight: 700;
    }
    .UserAddress button{
       width: 50%;
    }
    .UserAddress>:nth-child(2){
        font-size:15px;
        display:flex;
        flex-direction:column;
        gap:10px;
        border:1px solid black;
        padding: 10px;
    }
}
@media screen and (min-width:200px) and (max-width:699px){
    .container{
        width:90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 150px;
    }
    .mainbody{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width:100%;
        margin-bottom: 20px;
    }
    .Details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 30px;
    }
    .Details h1{
        font-size: 25px;
        font-weight: 700;
    }
    .Details h4{
        font-weight: 600;
    }
    .profile{
        display: flex;
        flex-direction: row;
       margin-bottom: 20px;
    }
    .profile button{
        padding: 8px;
        border: 1px solid black;
        color: black;
        margin-top: 10px;
    }
    .profile button:hover{
        background-color: black;
        color: white;
    }
    .profile>:nth-child(1){
        width: 50px;
        height: 50px;
        margin: 30px;
    }
    .address{
        display: flex;
        flex-direction: row;
        justify-content:left;
    
    }
    .address button{
        padding: 8px;
        border: 1px solid black;
        color: black;
        margin-top: 10px;   
    }
    .address button:hover{
        background-color: black;
        color: white;
    }
    .address>:nth-child(1){
        width: 50px;
        height: 50px;
        margin: 30px;
    }
    .mainbody .box{
        width: 100%;
        display: flex;
        flex-direction: column;
  
    }
    .box div{
        width: 100%;
        border: .5px solid rgb(167, 165, 165);
        padding: 10px;
        font-weight: 500;
    }
    .mainbody h1{
      
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .box div:hover{
        background-color: rgb(210, 209, 209);
        font-weight: 700;
    }
    .UserAddress{
        width: 70%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: first baseline;
        text-align: left;
    }
    .UserAddress>:nth-child(1){
        font-size:25px;
        font-weight:700
    }
    .UserAddress>:nth-child(2){
        font-size:15px;
        display:flex;
        flex-direction:column;
        gap:10px;
        border:1px solid black;
        padding: 10px;
    }
    .UserAddress button{
        width:80%;
        background-color:black;
        color:white;
        padding:10px
    }
}