.Footer{
    padding: 15px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    font-weight: 700;
    gap: 30px;
}
select{
    font-weight: 600;
}
.home-bottom{
    display: flex;

}
.home-bottom .black{
    padding: 10px;
    width:50%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px
}
.home-bottom h3{
    font-size: 25px;
    font-weight: 700;
}
.home-bottom .input{
    width:300px;
    align-items: center;
    padding: 5px;
}
.home-bottom button{
    border: 1.5px solid white;
    width:300px;
    padding: 5px;
}



.home-bottom .white{
    padding: 10px;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    background-color: rgb(227, 225, 225);
}
.home-bottom .socialMedia{
    display: flex;
    justify-content: center;
    gap:30px;
    font-size: 30px;
}
.white h2{
    font-size: 25px;
    font-weight: 700;
}

@media screen and (min-width:200px) and (max-width:1000px){
    
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    font-weight: 700;
    gap: 30px;
}
.home-bottom{
    
    display: flex;
    flex-direction: column;
}
.home-bottom .white{
    padding: 10px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    background-color: rgb(227, 225, 225);
}
.home-bottom .black{
    padding: 10px;
    width:100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px
}
}