.top-home{
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.box-1{
    width:30%;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align:left;
    gap:20px
}
.box-2{
    width:70%;
    padding:15px;
}
.Box-1{
    width:30%;
    padding:15px;
    text-align:left;
    gap:"10px"
}
.Box-2{
    width:70%;
    padding:15px;
}
.top-home h1{
    font-size: 33px;
    font-weight: 600;
}
.top-home button{
width:30%;
margin-right: auto;
padding: 10px;
font-weight: 600;
color: white;
background-color: black;

}
.top-home h2{
    font-size: 30px;
    font-weight: 700;
}
.top-home h3{
    font-size: 20px;
    font-weight: 500;
}



.car-2{
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
}

.car-3{
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.Box-1{
    width:30%;
    padding:15px;
    text-align:left;
    display: flex;
    flex-direction: column;
    gap:20px
}
.Box-1 button{
    width: 50%;
    margin-right: auto;
}
.car-3 h1{
    font-size: 33px;
    font-weight: 600;
}
.car-3 h2{
    font-size: 30px;
    font-weight: 700;
}
.car-3 h3{
    font-size: 20px;
    font-weight: 500;
}

.car-3 button{
    width:30%;
    margin-right: auto;
    padding: 10px;
    font-weight: 600;
    color: white;
    background-color: black;
}


.cards{
   width: 95%;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   justify-items: center;
   gap: 20px;
    
}
.cards img{
    width:100%
}


.badges{
    width: 95%;
    margin: auto;
    margin-top: 60px;
display: grid;
grid-template-columns: repeat(4,1fr);
}

.badges div{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-weight: 600;
   margin: 15px;
}

.badges img{
    width: 40%;
    display: block;
    
}

.bottom-banner{
    margin-top: 70px;
    position: relative;
}
.bottom-banner img{
   
width: 100%;
margin: auto;
display: block;
}
.bottom-banner .button1{
    background-color: white;
    padding: 5px 15px;
    color: black;
    position: absolute;
    bottom: 40%;
    left:40%;
    font-weight: 600;
}
.bottom-banner .button2{
    background-color: white;
    padding: 5px 15px;
    color: black;
    position: absolute;
    bottom: 40%;
    right:40%;
    font-weight: 600;
}

@media screen and (min-width:700px) and (max-width:1000px){
   /*1st carousal*/
    .top-home{
        width: 100%;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
    .box-1{
        width:100%;
        padding:15px;
        text-align:center;
        display: flex;
        flex-direction: column;
        gap:20px
    }
    .box-1 h1{
        font-size: 30px;
        font-weight: 600;
    }
    .box-1 h2{
        font-weight: 700;
    }
    .box-1 h3{
        text-align: left;
        font-weight: 600;
    }
    .box-1 p{
        text-align: left;
    }
    .box-1 button{
        width:20%;
        margin: auto;
    }
    .box-2{
        width:100%;
        padding:15px;
    }
    /*2nd carousal*/
    .car-2{
        width: 95%;
        margin: auto;
        margin-bottom: 25px;
    }
    /*3rd carousal*/
    .car-3{
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
    .Box-1{
        width:100%;
        padding:15px;
        text-align:center;
        display: flex;
        flex-direction: column;
    
        gap:20px
    }
    .Box-1 h1{
        font-size: 30px;
        font-weight: 600;
    }
    .Box-1 h2{
        font-weight: 700;
    }
    .Box-1 h3{
        text-align: left;
        font-weight: 600;
    }
    .Box-1 button{
        width:20%;
        margin: auto;
    }
    .Box-1 p{
        text-align: left;
    }
    .Box-2{
        width:100%;
        padding:15px;
    }
    .badges{
        
        width: 90%;
        margin: auto;
        margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    }
    .badges img{
        width: 60%;
        display: block;
        
    }
    .cards{
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        justify-items: center;
        gap: 20px;
         
     }
     .bottom-banner{
        position: relative;
        margin-top: 70px;
    }
    .bottom-banner img{
        
    width: 100%;
    margin: auto;
    display: block;
    }
    .bottom-banner .button1{
        background-color: white;
        padding: 5px 10px;
        color: black;
        position: absolute;
        bottom: 40%;
        left:30%;
        font-weight: 600;
    }
    .bottom-banner .button2{
        background-color: white;
        padding: 5px 10px;
        color: black;
        position: absolute;
        bottom: 40%;
        right:30%;
        font-weight: 600;
    }
}

@media screen and (min-width:100px) and (max-width:699px){
    .top-home{
        width: 100%;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
    .box-1{
        width:100%;
        padding:15px;
        text-align:center;
        display: flex;
        flex-direction: column;
        gap:20px
    }
    .box-1 h1{
        font-size: 35px;
        font-weight: 600;
    }
    .baox-1 h2{
        font-weight: 700;
    }
    .box-1 h3{
        text-align: center;
        font-weight: 600;
    }
    .box-1 p{
        text-align: center;
    }
    .box-1 button{
        width:40%;
        margin: auto;
        font-weight: 600;
    }
    .box-2{
        width:100%;
        padding:15px;
    }
    /*3rd carousal*/
    .car-3{
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
    .Box-1{
        width:100%;
        padding:15px;
        text-align:center;
        display: flex;
        flex-direction: column;
        gap:20px
    }
    .Box-1 h1{
        font-size: 40px;
        font-weight: 600;
    }
    .Box-1 h2{
        font-weight: 700;
    }
    .Box-1 h3{
        text-align: center;
        font-weight: 600;
    }
    .Box-1 button{
        width:40%;
        margin: auto;
    }
    .Box-2{
        width:100%;
        padding:15px;
    }


    .badges{
        margin-top: 60px;
        width: 90%;
        margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    .cards{
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        justify-items: center;
        gap: 20px;
         
     }
     .bottom-banner{
        position: relative;
        margin-top: 70px;
    }
    .bottom-banner img{
        
    width: 100%;
    margin: auto;
    display: block;
    }
    .bottom-banner .button1{
        background-color: white;
        padding: 5px 10px;
        color: black;
        position: absolute;
        bottom: 40%;
        left:15%;
        font-weight: 600;
    }
    .bottom-banner .button2{
        background-color: white;
        padding: 5px 10px;
        color: black;
        position: absolute;
        bottom: 40%;
        right:15%;
        font-weight: 600;
    }
}