.top-home{
    width: 85%;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.box-1{
    width:30%;
    padding:15px;
    text-align:left;
    gap:"10px"
}
.box-2{
    width:70%;
    padding:15px;
}
.Box-1{
    width:30%;
    padding:15px;
    text-align:left;
    gap:"10px"
}
.Box-2{
    width:70%;
    padding:15px;
}
.top-home h2{
    font-size: 30px;
    font-weight: 600;
}
.top-home h3{
    font-size: 20px;
    font-weight: 500;
}

.top-home button{
    background-color: black;
    padding: 5px;
    color: white;
}

.car-2{
    width: 85%;
    margin: auto;
    margin-bottom: 25px;
}

.car-3{
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.car-3 h2{
    font-size: 30px;
    font-weight: 600;
}
.car-3 h3{
    font-size: 20px;
    font-weight: 500;
}

.car-3 button{
    background-color: black;
    padding: 5px;
    color: white;
}


.cards{
   width: 85%;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   justify-items: center;
   gap: 20px;
    
}
.cards img{
    width:100%
}


.badges{
    width: 90%;
    margin: auto;
display: grid;
grid-template-columns: repeat(4,1fr);
}

.badges div{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-weight: 600;
   margin: 15px;
}

.badges img{
    width: 40%;
    display: block;
    
}

.bottom-banner{
    position: relative;
}
.bottom-banner img{
width: 90%;
margin: auto;
display: block;
}
.bottom-banner .button1{
    background-color: white;
    padding: 5px 15px;
    color: black;
    position: absolute;
    bottom: 40%;
    left:40%;
    font-weight: 600;
}
.bottom-banner .button2{
    background-color: white;
    padding: 5px 15px;
    color: black;
    position: absolute;
    bottom: 40%;
    right:40%;
    font-weight: 600;
}

@media screen and (min-width:700px) and (max-width:1000px){
    .top-home{
        border: 1px solid black;
        width: 85%;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
    .box-1{
        width:100%;
        padding:15px;
        text-align:left;
        gap:"10px"
    }
    .box-2{
        width:100%;
        padding:15px;
    }
    .car-3{
        border: 1px solid black;
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
    .Box-1{
        width:100%;
        padding:15px;
        text-align:left;
        gap:"10px"
    }
    .Box-2{
        width:100%;
        padding:15px;
    }
    .badges{
        width: 90%;
        margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width:100px) and (max-width:699px){
    .top-home{
        width: 85%;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
    .box-1{
        width:100%;
        padding:15px;
        text-align:left;
        gap:"10px"
    }
    .box-2{
        width:100%;
        padding:15px;
    }
    .car-3{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
    .Box-1{
        width:100%;
        padding:15px;
        text-align:left;
        gap:"10px"
    }
    .Box-2{
        width:100%;
        padding:15px;
    }
    .badges{
        width: 90%;
        margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    .cards{
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        justify-items: center;
        gap: 20px;
         
     }
}