.top-nav{
    padding: 10px;
    font-size: 20px;
    color: red;
    background-color: white;
    /* width: 100%;
    position: fixed;
    z-index: 5; */
}



.bottom-nav{
    display:flex;
    justify-content: space-evenly;
    background-color: rgba(254, 38, 38, 0.9);
    color: white;
    /* position: fixed; */
    /* width: 100%;
    position: fixed;
    z-index: 6; */
}
.bottom-nav h4{
    font-weight: 500;
}
.bottom-nav img{
    height:80px
}

.catagory{
    width: 30%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
  width: 30%;
    align-items: center;
    display: flex;
    gap:10px;
    padding: 20px 40px 20px 20px;
    justify-content:flex-end;
}

/* .icons div{
    border: 1px solid white;

} */
