.top-nav{
    padding: 10px;
    font-size: 20px;
    color: red;
}



.bottom-nav{
    display:flex;
    justify-content: space-between;
    background-color: rgba(247, 31, 31, 0.9);
    color: white;
}
.bottom-nav h4{
    font-weight: 500;
}


.catagory{
    width: 30%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
  width: 30%;
    align-items: center;
    display: flex;
    gap:10px;
    padding: 20px 40px 20px 20px;
    justify-content:flex-end;
}

/* .icons div{
    border: 1px solid white;

} */
