.main{
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
    /* margin-top: 30px; */
   display: flex;
   flex-direction: row;
    justify-content: space-around;}

.picture{
   
    width: 50%;
}
.details{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap:10px
}
.details h1{
    font-size: 25px;
    font-weight: 600;
}
.details h2{
    font-size: 17px;
    font-weight: 600;
}
.details h3{
    font-weight: 700;
}

.button-group{
    display: grid;
     grid-template-columns: repeat(5,1fr);
    gap:10px;
    margin-bottom: 10px;    
}
.button-group button{
    border: 1px solid rgb(192, 191, 191);
    padding: 7px;
}
.button-group button:hover{
    background-color: black;
    color: white;
}
.check{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.check>div{
    width: 50%;
    padding:10px;
    border: 1px solid black;
}
.check>:nth-child(1){
    background-color: white;
    color: white;
}
.check>:nth-child(2){
    background-color: black;
    color: white;
    font-weight: 600;
    text-align: center;
}
.addtocart{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.addtocart>:nth-child(1){
    width: 90%;
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 10px;

}
.addtocart>:nth-child(2){
   margin: 20px;
   width: 25px;
   height: 25px;
}
@media screen and (min-width:700px) and (max-width:999px){
    .main{
        width: 95%;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .picture{
        width: 100%;
    }
    .details{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap:7px
    }
    .addtocart>:nth-child(1){
        width: 90%;
        background-color: black;
        color: white;
        font-weight: 700;
        padding: 10px;
    
    }
    .addtocart>:nth-child(2){
       margin: 20px;
       width: 25px;
       height: 25px;
    }
}

@media screen and (min-width:100px) and (max-width:699px){
    .main{
        width: 95%;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .picture{
        width: 100%;
    }
    .details{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap:7px
    }
}